node_modules
.vscode
compiled/
*.log
*.gz
src/config.ts
tmp.ts
httpconf.json
certificate/
.*.json
.DS_Store
testpriv.ts
logs/
src/bsv-*.ts
src/tbsv-*.ts
*.txt
config_*.ts
src/config
test/testfarm*
config/
package-lock.json